body {
    font-family: 'Bebas Neue', cursive;
    margin: 0px;
    font-size: 20px;
}

h4{

    color: #299DD9;
    background: #000000;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;

}

.valuetextp {

    font-style: 'Bebas Neue', cursive; 
    margin-left: 45%;
    font-size: 22px;
}

.container {

    width: 100vw;
    height: 100vh;
    background: #282A35;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.box {

    
    background: #E7E9EB;
    height: 100%;
    width: 100%;
    
    

}

.selectocorrenci1 {

    padding-top: 8px;
    margin-left: 34%;
    font-size: 20px;
    text-align: center;
    width: 30%; 
    
    

}

.selectocorrenci2 {

    padding-top: 8px;
    margin-left: 37%;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    width: 25%;    

}

.inputocorrenci {

    padding-top: 8px;
    margin-left: 45%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    margin-top: 180px;
    display: block;
    

}


#divtotal{


    text-align:left;
    margin-left: 20px;
    margin-bottom: 40%;
    

}

    
   

