body {
    margin: 0px;
    font-size: 20px;
}

h4{

    color: #299DD9;
    background: #000000;
    font-size: 25px;
    text-align: center;

}

.valuetextp {

    
    margin-left: 45%;
    font-size: 20px;
}

.container {

    width: 100vw;
    height: 100vh;
    background: #282A35;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.box {

    width: 50%;
    height: 90%;
    background: #E7E9EB;
    

}

.selectocorrenci {

    padding-top: 8px;
    margin-left: 25%;
    font-size: 20px;
    width: 52%;
    text-align: center;
    
    

}

.inputocorrenci {

    padding-top: 8px;
    margin-left: 15%;
    font-size: 20px;
    width: 70%;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 5px;

}

